@import 'tailwindcss';

@theme {
    --color-dark: #020202;
    --color-accent: #64d370;
    --color-bg: #f5faff;
    /* --color-bg: gray; */

    --font-base: 'Montserrat Variable', sans-serif;
    --font-second: 'Comfortaa Variable', sans-serif;

    --shadow-base: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

body {
    font-family: var(--font-base);
    background-color: var(--color-bg);
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        padding: 0 7px;
    }
}
.swiper-button-next,
.swiper-button-prev {
    position: static;
    color: var(--color-accent);
    margin-top: unset;
    height: unset;
    width: unset;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 24px;
    font-weight: 700;
}

.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background: transparent;
    width: 16px;
    height: 16px;
    border: 3px solid var(--color-accent);
}

.swiper-pagination-bullet-active {
    border: none;
    background-image: conic-gradient(var(--color-accent) var(--progress), var(--color-bg) 0%, var(--color-bg) 100%);
    position: relative;
    z-index: 2;
}

.swiper-pagination-bullet-active::after {
    content: '';
    width: 70%;
    height: 70%;
    outline: 3px solid #64d36f40;
    outline-offset: 1px;
    background-color: var(--color-bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
