---
import Order from '@/components/Order.astro';
import FAQ from '@/components/FAQ.astro';
---

<section class="mb-[60px] md:mb-[100px] lg:mb-[156px]">
    <div class="container grid grid-cols-1 gap-15 md:gap-25 lg:grid-cols-[1fr_1.5fr] lg:gap-15">
        <Order />
        <FAQ />
    </div>
</section>
