---
import faq from '@/data/faq.json';
---

<div class="container">
    <h3 class="font-second font-bold lg:mb-9 text-center lg:text-[25px]">Часто задаваемые вопросы</h3>

    {
        faq.map((item, index) => (
            <div>
                <button class="accordion-btn cursor-pointer  w-full flex justify-between items-center py-2.5 px-5 rounded-[190px] text-left text-dark text-sm md:text-md tracking-[0.03em] shadow-base">
                    <span>{item.question}</span>
                    <span id={`icon-${index + 1}`} class="text-slate-800 transition-transform duration-300">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                            <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                        </svg>
                    </span>
                </button>
                <div id={`content-${index + 1}`} class="max-h-0 my-2  overflow-hidden transition-all duration-300 ease-in-out">
                    <div class="rounded-[10px] bg-green-200  text-sm text-dark py-2.5 px-5">{item.answer}</div>
                </div>
            </div>
        ))
    }
</div>

<script is:inline>
    function toggleAccordion(index) {
        const content = document.getElementById(`content-${index}`);
        const icon = document.getElementById(`icon-${index}`);

        const minusSVG = `
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
        </svg>
    `;

        // SVG for Plus icon
        const plusSVG = `
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
        </svg>
    `;

        // Toggle the content's max-height for smooth opening and closing
        if (content.style.maxHeight && content.style.maxHeight !== '0px') {
            content.style.maxHeight = '0';
            icon.innerHTML = plusSVG;
        } else {
            content.style.maxHeight = content.scrollHeight + 'px';
            icon.innerHTML = minusSVG;
        }
    }

    const btns = document.querySelectorAll('.accordion-btn');
    if (btns.length > 0) {
        btns.forEach((b, index) => {
            b.addEventListener('click', () => toggleAccordion(index + 1));
        });
    }
</script>
