---
import { Icon } from 'astro-icon/components';

const data = [
    {
        icon: 'eco',
        text: 'Бережём природу. <br> Эко-тара и проборы.',
    },
    {
        icon: 'menu',
        text: '28 дней без повторения, <br> более 300 блюд!',
    },
    {
        icon: 'fork',
        text: 'Бесплатно заменяем <br> блюда и ингредиенты.',
    },
    {
        icon: 'night',
        text: 'Готовим ночью, упаковываем<br> и отправляем Вам!',
    },
    {
        icon: 'fast',
        text: 'Ежедневная удобная <br> и бесплатная доставка <br> с 6:00 до 10:00',
    },
    {
        icon: 'time',
        text: 'Сохраняем Вашу энергию <br> и до 14 часов в неделю <br> освобождая от готовки!',
    },
];
---

<section class="mb-12.5 lg:mb-25">
    <div class="container">
        <ul class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 xl:grid-cols-6 xl:gap-y-15">
            {
                data.map((item) => (
                    <li class="flex flex-col items-center gap-3 text-center">
                        <Icon name={`info/${item.icon}`} class="h-[40px] w-[40px] md:h-[60px] md:w-[60px]" />
                        <span class="text-dark text-sm font-medium md:text-sm" set:html={item.text} />
                    </li>
                ))
            }
        </ul>
    </div>
</section>
