<div>
    <h3 class="text-dark font-second mb-2 text-center text-[20px] font-bold md:text-[25px] lg:text-[30px]">Оформить заказ</h3>
    <p class="md:text-md text-dark mb-5 text-center text-sm md:mb-7.5">Обсудите все детали заказа по телефону <br /> или сами укажите все подробности онлайн</p>

    <form>
        <div class="mb-7.5">
            <label class="font-second mb-2 ml-3 block text-[18px] font-bold" for="input-name">Имя</label>
            <div class="relative">
                <input class="text-dark w-full rounded-[190px] bg-[#dee6ee] py-2.5 pr-8 pl-4 outline-none" type="text" id="input-name" required />
                <div class="absolute top-[50%] right-[15px] translate-y-[-50%]">
                    <!-- <div class="bg-accent w-[14px] h-[14px] rounded-full"></div> -->
                    <!-- <div class="bg-red-500 w-[14px] h-[14px] rounded-full"></div> -->
                </div>
            </div>
        </div>

        <div class="mb-[30px]">
            <label class="font-second mb-2 ml-3 block text-[18px] font-bold" for="input-phone">Номер телефона</label>
            <div class="relative">
                <input class="text-dark w-full rounded-[190px] bg-[#dee6ee] py-2.5 pr-8 pl-4 outline-none" type="text" id="input-phone" required />
                <div class="absolute top-[50%] right-[15px] translate-y-[-50%]">
                    <!-- <div class="bg-accent w-[14px] h-[14px] rounded-full"></div> -->
                    <!-- <div class="bg-red-500 w-[14px] h-[14px] rounded-full"></div> -->
                </div>
            </div>
        </div>

        <div class="mb-2.5 flex cursor-pointer items-center gap-3 lg:mb-4 lg:gap-5">
            <div class="relative h-[26px] w-[26px]">
                <input type="checkbox" required checked name="discount" id="checkbox-discount" class="peer h-full w-full appearance-none rounded-full bg-[#dee6ee]" />
                <span class="pointer-events-none absolute top-[50%] left-[50%] z-[2] hidden h-[12px] w-[12px] translate-x-[-50%] translate-y-[-50%] items-center justify-center rounded-full bg-green-500 transition-transform duration-200 peer-checked:block"
                ></span>
            </div>
            <label class="text-dark font-second font-bold" for="checkbox-discount">Тест-день! Получить скидку -30%?</label>
        </div>

        <div class="mb-7.5 flex cursor-pointer items-center gap-3 lg:gap-5">
            <div class="relative h-[26px] w-[26px]">
                <input type="checkbox" required checked name="policy" id="checkbox-policy" class="peer h-full w-full appearance-none rounded-full bg-[#dee6ee]" />
                <span class="pointer-events-none absolute top-[50%] left-[50%] z-[2] hidden h-[12px] w-[12px] translate-x-[-50%] translate-y-[-50%] items-center justify-center rounded-full bg-green-500 transition-transform duration-200 peer-checked:block"
                ></span>
            </div>
            <label class="text-dark font-second font-bold" for="checkbox-policy"> Согласен с <a href="#" class="text-accent">условиями сотрудничества</a></label>
        </div>

        <div class="flex flex-col items-center gap-2 md:flex-row md:justify-around lg:flex-col">
            <button
                class="font-second border-accent hover:bg-accent text-accent w-full max-w-[300px] cursor-pointer rounded-[190px] border-3 py-3 text-[18px] font-bold text-nowrap transition-colors hover:text-white md:text-[20px] lg:text-[24px]"
                type="submit">Заказ по телефону</button
            >
            <span class="font-second text-center text-[18px] font-bold lg:text-[22px]">Или</span>
            <button
                class="bg-accent hover:text-accent hover:border-accent font-second w-full max-w-[300px] cursor-pointer rounded-[190px] border-3 border-transparent px-11 py-3 text-[18px] font-bold text-white transition-colors hover:bg-transparent md:text-[20px] lg:text-[24px]"
                type="submit">Онлайн заказ</button
            >
        </div>
    </form>
</div>
