---
import Image from 'astro/components/Image.astro';

import foodImg_1 from '@/assets/img/food-1.jpg';
import foodImg_2 from '@/assets/img/food-2.jpg';
import foodImg_3 from '@/assets/img/food-3.jpg';
import foodImg_4 from '@/assets/img/food-4.jpg';
import foodImg_5 from '@/assets/img/food-5.jpg';
import foodImg_6 from '@/assets/img/food-6.jpg';

const images = [foodImg_1, foodImg_2, foodImg_3, foodImg_4, foodImg_5, foodImg_6];
---

<section class="overflow-hidden pb-25 lg:pb-38">
    <h2 class="font-second mb-7.5 text-center text-[18px] font-bold lg:mb-15 lg:text-[30px]">Фото блюд</h2>
    <div class="flex [animation:scroll-left_60s_linear_infinite] gap-5">
        {images.map((img) => <Image src={img} width={img.width} height={img.height} quality={85} densities={[1, 2]} alt="Food photo" class="shadow-base aspect-[3/4] rounded-[30px] object-cover" />)}
    </div>
</section>

<style>
    @keyframes scroll-left {
        0% {
            /* transform: translateX(0%); */
        }
        100% {
            /* transform: translateX(-100%); */
        }
    }
</style>
