---
const { text } = Astro.props;
---

<div>
    <img src="/icons/logo.svg" width="290" height="120" alt="Company logo" />
    <div class="text-sm text-center text-dark font-second">{text}</div>
</div>
